<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<script src="/js/highcharts.js"></script>-->
    <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <!--<script src="http://cdn.hcharts.cn/highstock/highstock.js"></script>
    <script src="http://cdn.hcharts.cn/highmaps/highmaps.js"></script> -->
</head>

<body id="chart">
    <div id="container1"></div>
</body>
<script>
    function draw(divid,data,qtitle) {
        //console.log(data);
        $("#"+divid).highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: qtitle
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',

                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: data
            }]
        });
    }

    function addElementDiv(obj, name) {
        var parent = document.getElementById(obj);
        var div = document.createElement("div");
        div.setAttribute("id", name);   
        parent.appendChild(div);
　　}
    var data= <{$data['count']}>;
    var total= <{$data['total']}>;
    var question=<{$data['questions']}>;
    arr = Object.keys(data);
    //console.log(data);
    for (var i=1;i <= arr.length;i++) {
        addElementDiv("chart", 'container' + i);
        draw('container' + i,data[i],question[i]['qtitle']);
    }
</script>

</html>